# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development
.env.production

# Build directories
dist/

# Logs
logs
*.log

# IDE / OS files
.vscode/
.DS_Store
Thumbs.db
.idea/
